[pull]
    rebase = true

[apply]
  ignorewhitespace = change
  whitespace = nowarn

[core]
	autocrlf = input
    pager = diff-so-fancy | less --tabs=4 -RF
    editor = vim
	excludesFiles = ~/.dotfiles/config/gitconfigs/.gitignore

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
    required = true

[alias]
    st = status
    br = branch
    ci = commit
    undo = reset --soft HEAD^
    up = pull --rebase
    co = checkout
    cl = clean
    lg = log --oneline --graph --decorate --all
    pushall = !git remote | xargs -L1 git push --all
    supdate = !git submodule update --remote --merge
    resign = "!f() { git rebase --exec 'git commit --amend --no-edit -n -S' -i \"$1\"; }; f"
	dots = "!f() { cd private && git add . && git commit -m \"Update private submodule\" && git push && cd .. && git add private && git commit -m \"Update submodule reference\" && git push; }; f"

[interactive]
	diffFilter = diff-so-fancy --patch

[color]
    ui = true
    interactive = true
    branch = true
    status = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
    whitespace = red reverse

[commit]
    gpgsign = true

[gpg]
    format = ssh

[init]
    defaultBranch = main
