.todo
*.so
*.pyd
*.pdb
*.pyc*
*.log
.python-version
**egg-info**
gradle/gradle.properties
poetry.lock
pyrightconfig.json
*pem
.ipynb_checkpoints
.env
lazy-lock*
uv.lock

# OS 
.DS_Store

# IDE
.idea/
.vscode/
.vim
.nvim/

# Rust
target/

# Python
.hypothesis/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv*/
__pycache__/
**/__pycache__/
.coverage

